<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bethany Christian Care</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/dist/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/favicon/favicon-16x16.png">
    <link rel="manifest" href="/dist/favicon/site.webmanifest">

    <link rel="stylesheet" href="/dist/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>
<body class="font-sans text-textPrimary relative antialiased">

{% if currentUser %}
    {% if currentUser.admin and entry is defined %}
        <a class="bg-textPrimary text-white p-4 fixed z-50 right-0 top-0 z-50" style="z-index: 100;" href="{{ entry.cpEditUrl }}">Edit entry</a>
    {% endif %}
{% endif %}

<section class="bg-navy-500 py-16 searchForm hidden relative z-20">
    <div class="closeSearch">
        <i class="fas fa-times absolute text-teal-500 text-lg w-8 h-lg hover:text-teal-400 cursor-pointer" style="top:20px;right:20px;"></i>
    </div>
    <div class="container mx-auto">
        <form action="{{ url('search/results') }}" class="flex flex-row w-3/4 mx-auto">
            <input type="search" name="q" class="px-8 py-4 bg-navy-500 border border-white rounded-l-full w-10/12 text-white placeholder-white focus:outline-none" value="" placeholder="Type your search">
            <input type="submit" src="/dist/img/search-navy.svg" class="rounded-r-full bg-white" style="padding:10px 30px 10px 25px;">
        </form>
    </div>
</section>

<section class="bg-navy-500 text-center text-white py-4 z-20 relative">
    <p class="mb-0"><span class="text-teal-500">Alert:</span> <a href="{{ globalAlert.alertLink }}">{{ globalAlert.alertText }}</a></p>
</section>

<img class="hidden xxl:block absolute right-0 z-10" src="/dist/img/search-bg.svg" alt="decirative image">
<img class="hidden xxl:block absolute z-10 triggerSearch cursor-pointer" alt="decorative image" style="top: 125px;right:45px;" src="/dist/img/search.svg">

<header class="relative" style="z-index: 1;">
    <div class="hidden container mx-auto lg:flex flex-row justify-between items-center">
        <div class="w-1/4">
            <a href="/">
                <img src="/dist/img/bethany-logo-dark.svg" alt="Bethany Christian Care">
            </a>
        </div>
        <div class="w-1/12"></div>
        <div class="w-7/12 pt-16">
            <ul class="secondaryNav hasDropdowns flex flex-row justify-end group">
                {% set nodes = craft.navigation.nodes().handle('secondaryNav').level(1).all() %}

                {% nav node in nodes %}
                    <li class="ml-8 relative group border-white border-b-4 {% if node.active or node.hasActiveChild %}is-active border-pink-500{% else %}border-white{% endif %} hover:border-pink-500"><a href="{{ node.url }}" class="pb-4 block font-medium">{{ node.title }}</a>
                    {% if node.hasDescendants %}
                        <ul class="submenu hidden absolute w-48 shadow-lg bg-white text-navy-500 z-10 text-center rounded-b-md" style="margin-top: 5px;">
                            {% for subnode in node.children.all() %}
                                <li><a href="{{ subnode.url }}" class="block pt-2 pb-2 font-medium hover:font-bold">{{ subnode.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                {% endnav %}
            </ul>
            <ul class="primaryNav hasDropdowns flex flex-row justify-between border-t border-navy-200 text-xl">
                {% set activeNode = craft.navigation.getActiveNode({ handle: 'mainNav' }) %}
                {% set nodes = craft.navigation.nodes().handle('mainNav').level(1).all() %}
                {% nav node in nodes %}
                <li class="relative border-white border-b-4 hover:border-pink-500 {% if node.active or node.hasActiveChild %}is-active border-pink-500{% else %}border-white{% endif %}">
                    <a
                        class="py-6 text-base xl:text-xl inline-block font-medium {% if node.classes | length %}{{ node.classes }}{% endif %}"
                        href="{{ node.url }}">
                            {{ node.title }}
                    </a>
                    {% if node.hasDescendants %}
                    <ul class="submenu hidden absolute w-56 shadow-lg bg-white text-navy-500 z-10 text-center rounded-b-md" style="margin-top: 4px;">
                        {% for subnode in node.children.all() %}
                            <li><a href="{{ subnode.url }}" class="block pt-4 hover:font-bold {% if subnode.classes | length %}{{ subnode.classes }}{% endif %}">{{ subnode.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endnav %}
            </ul>
        </div>
        <div class="w-1/12"></div>
    </div>
    {# MOBILE NAVIGATION #}
    <div class="container lg:hidden flex justify-between items-center px-8 py-8 lg:py-16">
        <div class="w-1/2">
            <a href="/">
                <img src="/dist/img/bethany-logo-dark.svg" alt="Bethany Christian Care">
            </a>
        </div>
        <div class="w-1/2 items-end text-right">
            <button id="burgerButton" class="hamburger hamburger--slider focus:outline-none" type="button"
                    aria-label="Menu" aria-controls="mobileNavigation">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="container mx-auto">
        <ul id="mobileNavigation" class="px-8 hidden">
            {% set activeNode = craft.navigation.getActiveNode({ handle: 'mobileNavigation' }) %}
            {% set nodes = craft.navigation.nodes().handle('mobileNavigation').level(1).all() %}
            {% nav node in nodes %}
                <li class="relative">
                    <a
                            class="py-2 border-b-4 text-base xl:text-xl hover:border-pink-500 inline-block {% if node.active or node.hasActiveChild %}is-active border-pink-500{% else %}border-white{% endif %} {% if node.classes | length %}{{ node.classes }}{% endif %}"
                            href="{{ node.url }}">
                        {{ node.title }}
                    </a>
                </li>
            {% endnav %}
        </ul>
    </div>
</header>
<script>
    document.getElementById('burgerButton').addEventListener('click', function(e){
        e.currentTarget.classList.toggle('is-active');
        document.getElementById('mobileNavigation').classList.toggle('hidden');
    });
</script>