<section class="bg-orange-100 relative shadow-inner">
    <div class="container mx-auto">
        <div class="w-full px-8 py-16 lg:w-1/2 lg:py-32 lg:pr-32">
            <h1 class="font-serif leading-tight text-4xl lg:text-6xl">
                {{ entry.homePageTitle }}
            </h1>
            <div class="border-pink-300 border-l-4 pl-4">
                {{ entry.homeCalloutText }}
            </div>
        </div>
        <div class="block lg:hidden w-full right-0 top-0 h-full overflow-hidden">
            {% set optimizedImages = entry.featureImage.one().optimisedImage %}
            <div class="w-full relative pb-1/2">
                {% if entry.featureVideo %}
                    <div class="openModal absolute w-full h-full flex items-center justify-center">
                        <i class="fab fa-youtube text-6xl"></i>
                    </div>
                {% endif %}
                <img class="lazyload h-full w-full rounded-t-md absolute object-cover inset-0"
                     src="{{ optimizedImages.placeholderBox() }}"
                     data-srcset="{{ optimizedImages.srcset() }}"
                     sizes="100vw" alt="{{ entry.featureImage.one().title }}" />
            </div>
        </div>
    </div>
    <div class="hidden lg:block absolute w-1/2 right-0 top-0 h-full overflow-hidden">

        {% set optimizedImages = entry.featureImage.one().optimisedImage %}
        <div class="w-full relative pb-1/2 h-full">
            {% if entry.featureVideo %}
                <div class="openModal absolute w-full h-full flex items-center justify-center z-50">
                    <i class="far fa-play-circle text-pink-500 hover:text-pink-400 text-6xl cursor-pointer"></i>
                </div>
            {% endif %}
            <img class="lazyload h-full w-full absolute object-cover inset-0"
                src="{{ optimizedImages.placeholderBox() }}"
                data-srcset="{{ optimizedImages.srcset() }}"
                sizes="100vw" alt="{{ entry.featureImage.one().title }}" />
        </div>
    </div>

    <img class="hidden md:block absolute w-full" src="/dist/img/top-curve.svg" style="bottom:-2px;" alt="decorative image">
</section>

<div id="modal" class="modal fixed flex justify-center items-center w-full h-full inset-0 bg-navy-900 bg-opacity-75" style="z-index: 1000;display: none;">
    <div class="relative" style="width: 80%;">
        <div id="closeModal">
            <i class="fas fa-times-circle absolute cursor-pointer text-3xl" style="top:30px;right:30px;z-index: 1;"></i>
            {{ entry.featureVideo | raw }}
        </div>
    </div>
</div>

<script>
    jQuery( document ).ready(function($) {
        $('.openModal').on('click', function(){
            $('#modal').fadeIn();
        });
        $('#closeModal').on('click', function(){
            $('#modal').fadeOut();
        });
    });
</script>