<div class="container mx-auto">
    <div class="w-3/4 mx-auto">

        {% set img = block.topImage.one() %}
        <div class="relative mb-32">
            <img class="w-full" src="{{ img.url }}" alt="{{ img.title }}">
            <p class="absolute w-full text-center" style="bottom:20px;">
                <span class="bg-pink-500 py-2 px-4 mx-auto rounded-full text-white">{{ img.imageCaption }}</span>
            </p>
        </div>

        <div class="relative overflow-hidden">
            <img class="absolute top-0" style="left: 40px;" src="/dist/img/line.svg" alt="Bethany Lines">

            {% for block in block.history.all() %}
                {% if block.type == "milestones" %}
                    <div class="relative {% if not loop.last %}mb-16{% endif %}">
                        <div class="bg-grey-300 p-6 flex items-center space-x-16">
                            <p class="w-1/6 mb-0 text-4xl font-serif text-center">{{ block.milestoneYear }}</p>
                            <p class="w-5/6 mb-0">
                                {{ block.milestoneText }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% set img = block.bottomImage.one() %}
        <div class="relative mt-32">
            <img class="w-full" src="{{ img.url }}" alt="{{ img.title }}">
            <p class="absolute w-full text-center" style="bottom:20px;">
                <span class="bg-pink-500 py-2 px-4 mx-auto rounded-full text-white">{{ img.imageCaption }}</span>
            </p>
        </div>
    </div>
</div>