{% extends 'layouts/base.twig' %}
    {% block main %}

        <section class="shadow-innerSmall w-full">

            <section class="relative z-0 pt-16 pb-16">
                <div class="container mx-auto text-center">
                    <h1 class="font-serif mb-0">{{ entry.title }}</h1>
                    <p>{{ entry.postDate | date('d M Y') }}</p>
                </div>
            </section>

            <section class="relative pb-32">
                <div class="container mx-auto">
                    {% if entry.image.one() | length %}
                        {% set optimizedImages = entry.image.one().optimisedImage %}
                        <img class="lazyload w-full rounded-md mb-32"
                             src="{{ optimizedImages.placeholderBox() }}"
                             data-srcset="{{ optimizedImages.srcset() }}"
                             sizes="100vw" />
                    {% endif %}

                    <article class="prose lg:prose-xl w-full mx-auto">
                        {{ entry.richText }}
                        <hr>
                        <h3>Related links</h3>
                        {% if entry.newsDownloads | length %}
                            {% set downloads = entry.newsDownloads.all() %}
                            {% for download in downloads %}
                                <button class="{% if not loop.last %}mb-4{% endif %} w-full border border-grey-500 rounded flex flex-row justify-between p-4 items-center hover:bg-grey-200 no-underline" href="{{ download.url }}">
                                    <span class="no-underline">{{ download.title }}</span>
                                    <i class="far fa-file-download"></i>
                                </button>
                            {% endfor %}
                        {% endif %}

                    </article>
                </div>
            </section>

        </section>


    {% endblock %}