{% extends 'layouts/base.twig' %}
    {% block main %}

        <section class="shadow-innerSmall w-full">

            <section class="relative z-0 pt-16 pb-16">
                <div class="container mx-auto text-center">
                    <h1 class="font-serif mb-0">{{ entry.title }}</h1>
                    <p>{{ entry.postDate | date('d M Y') }}</p>
                </div>
            </section>

            <section class="relative pb-32">
                <div class="container mx-auto">
                    {% set optimizedImages = entry.image.one().optimisedImage %}
                    <img class="lazyload w-full rounded-md mb-32"
                         src="{{ optimizedImages.placeholderBox() }}"
                         data-srcset="{{ optimizedImages.srcset() }}"
                         sizes="100vw" />

                    <article class="prose lg:prose-xl w-full mx-auto">
                        {{ entry.richText }}
                    </article>
                </div>
            </section>

        </section>


    {% endblock %}