{% extends 'layouts/base.twig' %}
    {% block main %}

        <section class="shadow-innerSmall w-full">

            <section class="relative z-0 pt-16">
                <div class="container mx-auto">
                    <h1 class="font-serif mb-0">News</h1>
                    <p>Keep up to date with the latest updates, stories and celebrations at Bethany Christian Care.</p>

                    <div class="categories flex flex-row space-x-4">
                        <a class="transition duration-500 ease-in-out p-4 rounded-full border font-bold hover:bg-navy-500 hover:text-white" href="/news">All News</a>
                        {% set categoryQuery = craft.categories.group('newsCategories') %}
                        {% set categories = categoryQuery.all() %}
                        {% for category in categories %}
                            <a href="{{ category.url }}" class="transition duration-500 ease-in-out p-4 rounded-full border font-bold hover:bg-navy-500 hover:text-white">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section class="relative py-8 lg:py-16">
                <div class="container mx-auto grid grid-cols-3 gap-4">

                    {% set query = craft.entries()
                        .section('news')
                        .limit(9) %}

                    {# Fetch the entries #}
                    {% paginate query as pageInfo, pageEntries %}
                    {% for entry in pageEntries %}
                        <div class="w-full flex flex-col mb-8 lg:mb-0">
                            {% if entry.image.one().optimisedImage is defined %}
                                {% set optimizedImages = entry.image.one().optimisedImage %}
                                <div class="w-full relative pb-1/2 overflow-hidden rounded-t-md">
                                    <a href="{{ entry.url }}">
                                        <img class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 lazyload h-full w-full absolute object-cover inset-0"
                                             src="{{ optimizedImages.placeholderBox() }}"
                                             data-srcset="{{ optimizedImages.srcset() }}"
                                             sizes="100vw" />
                                    </a>
                                </div>
                            {% endif %}
                            <div class="richText h-full p-6 flex flex-col bg-grey-200 rounded-b-md">
                                <h4 class="font-serif text-navy-500 pb-4 m-0">{{ entry.title }}</h4>
                                {{ entry.richText | chop(limit=20, unit='w') }}
                                <div class="mt-auto">
                                    <a class="btn-outline px-8 lg:px-12 py-4 mr-4" href="{{ entry.url }}">Read more</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="container mx-auto text-center mt-8">
                    <div class="w-1/2 mx-auto flex flex-row space-x-4 items-center justify-between">
                        <a href="{{ pageInfo.firstUrl }}">First Page</a>

                        {% for page, url in pageInfo.getPrevUrls(5) %}
                            <a class="py-2 px-4 bg-grey-200" href="{{ url }}">{{ page }}</a>
                        {% endfor %}

                        <span class="current py-2 px-4 bg-grey-500">{{ pageInfo.currentPage }}</span>

                        {% for page, url in pageInfo.getNextUrls(5) %}
                            <a class="py-2 px-4 bg-grey-200" href="{{ url }}">{{ page }}</a>
                        {% endfor %}

                        <a href="{{ pageInfo.lastUrl }}">Last Page</a>
                    </div>
                </div>
            </section>

        </section>


    {% endblock %}